In [74]:
if __name__ == '__main__':
    n = int(input())
        
    integer_list = map(int, n.split(" "))
m=tuple(integer_list)
m

2

AttributeError: 'int' object has no attribute 'split'

In [116]:
s = input()
sn=[]
g=""
for i in s:
    j=i
    U=i.upper()
    l=i.lower()
    if U!=j:
        sn.append(U)
    elif l!=j:
        sn.append(l)
    else:
        sn.append(j)
for i in sn:
    e=g+i
    g=e
print(g)

aldjKAAJ
ALDJkaaj

str

In [118]:
st=input("give spaced string")
ll=[i for i in st.split(" ")]
ll
# below is join function of ll
kkk="-".join(ll)
kkk

give spaced stringdsadjj dsah fdj

'dsadjj-dsah-fdj'

In [126]:
def print_full_name(a, b):
    if len(a+b) > 10:
        print("none")
    else:
        print("Hello {} {}! You just delved into python.".format(a,b))

if __name__ == '__main__':
    first_name = input()
    last_name = input()
    print_full_name(first_name, last_name)

karthik
rama
none

In [128]:
def mutate_string(string, position, character):
    return 

if __name__ == '__main__':
    s = input()
    i, c = input().split(" ")
    s_new = mutate_string(s, int(i), c)
    print(s_new)

['a', 'b', 'r', 'a', 'c', 'a', 'd', 'a', 'b', 'r', 'a']

In [133]:
a,b=1,"'p'"

In [134]:
b

"'p'"

In [139]:
a="""karthik went 
home"""
a

'karthik went \nhome'

In [145]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [151]:
dir(9)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [150]:
"a".upper()

'A'

In [155]:
t=True
type(t)

bool

In [164]:
d=complex(2,5)

In [165]:
d

(2+5j)

In [166]:
e=2+4J

In [167]:
type(e)

complex

In [169]:
a='dheena'

In [170]:
a='dheena'
b='garan'
a+b

'dheenagaran'

In [172]:
e.conjugate()

(2-4j)

In [179]:
a='dhina'
b=" "
c='garan'
d=a+b+c
d

'dhina garan'

In [180]:
a=c
a

'garan'

In [190]:
a=1
b=4
a=a+1
a is not b

True

In [191]:
p=[1,2,3,"karthik","deena",9,321,"prakash"]

In [203]:
g=int(input())

78

In [204]:
type(g)

int

In [205]:
a="dhinagaran"
a[5]

'g'

In [209]:
list(enumerate(a))

[(0, 'd'),
 (1, 'h'),
 (2, 'i'),
 (3, 'n'),
 (4, 'a'),
 (5, 'g'),
 (6, 'a'),
 (7, 'r'),
 (8, 'a'),
 (9, 'n')]

In [213]:
a[::-1]

'naraganihd'

In [237]:
x=5
y=4
if x!=y:
    print("perfecy","super",end=" d ")
else:
    print("x!=y")

perfecy super d

In [235]:
if 2 in p and "deena" in p:
    print("done")

done

In [249]:
km=float(input())
hr=(input())
print("karthi run {} km in beach after {} hours".format(km,float(hr)))

23
4
karthi run 23.0 km in beach after 4.0 hours

In [306]:
t=int(input())
p=int(input())
r=t+p
if r<=70:
    print("fail")
    if r%2 is 0:
        print("even")
    else:
        print("odd")
else:
    print("pass")

20
20
fail
even

In [269]:
t=int(input())
if t%2:
    print("evan")
else:
    print("odd")

2
odd

In [308]:
t=int(input())
if t>50:
    print("pass")
    if(100>=t>=90):
        print("grade A")
    elif(90>t>=80):
        print("grade B")
    elif(80>t>=70):
        print("grade C")
    elif(70>t>=60):
        print("grade D")
    elif(60>t>=50):
        print("grade E")
else:
    print("fail")

90
pass
grade A

In [315]:
a=int(input())
b=int(input())
c=input()
if c=="+":
    d=a+b
    print("mark1  = {} {} mark2  = {} result = {}".format(a,c,b,d) )
elif c=="-":
    d=a-b
    print("mark1  = {} {} mark2  = {} result = {}".format(a,c,b,d) )   
elif c=="*":
    d=a*b
    print("mark1  = {} {} mark2  = {} result = {}".format(a,c,b,d) )
elif c=="/":
    d=a/b
    print("mark1  = {} {} mark2  = {} result = {}".format(a,c,b,d) )
else:
    print(a%b)

45
2
hsd
1

In [331]:
tamil=float(input())
english=float(input())
maths=float(input())
science=float(input())
social=float(input())
total=tamil+english+maths+science+social
print(total/5, "%")
t="karthik"

100
100
100
100
100
100.0 %

In [330]:
asae=440
tot=500
per=(asae/tot)*100
per

88.0

In [16]:
a=list(range(0,10))
f=0
j=9
k=98
for i in a:
    if i >5:
        print(i)
        
        continue
        
    else:
        print(i**2)

0
1
4
9
16
25
6
7
8
9

In [341]:
a=input()
b=input()
c=input()
d=input()
if a >b and c and d:
    print("kk")

45
8
5
6

In [344]:
li = [1,2,3,34,5,3,35]
max(li)

35

In [19]:
ff=[123321.12,324,"adsad",2.3,2+4j,True]

In [40]:
type(ff)

list

In [39]:
t="AaAaBas"
r=334
t.split("a")

['A', 'A', 'B', 's']

In [41]:
ff[3]

2.3

In [68]:
a=input()
b=input()
c=0
for i in range(len(a)):
    v=a[i:len(b)+i]
    print(v)
    if v==b:
        c+=1
print(c)

abcdcdc
cdc
abc
bcd
cdc
dcd
cdc
dc
c
2

In [67]:
def df(string, sub_string):
    c=0
    for i in range(len(a)):
        v=a[i:len(b)+i]
        if v==b:
            c+=1
    return c

if __name__ == '__main__':
    a = input().strip()
    b = input().strip()
    
    count = df(a, b)
    print(count)

abcdcdc
cdc
2

In [81]:
(list(range(5,50)))

[5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [3]:
"A".isupper()

True